NEXT_PUBLIC_SUPABASE_URL=https://tdhunsfxhbnghatpzamy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkaHVuc2Z4aGJuZ2hhdHB6YW15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NTczNjEsImV4cCI6MjA5MzIzMzM2MX0.807XfYhuwSFofEmSNRnFLv-7egsCMc8LgzRWqWCe3Gg
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
